
@use '../components/variables' as v;

/* ===== BOTÓN FLOTANTE WHATSAPP ===== */
  .whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 1000;
}

.wpbottom {
  
  position: relative;
  &:hover {
    img {
      filter: drop-shadow(0 0 8px v.$color-cyan)
          drop-shadow(0 0 16px v.$color-cyan);

    }
  }
}


.wpbottom {
  display: flex;
  align-items: center;
  gap: 1px; 
}

/* taquito */
.taquito-wp {
  width: 80px;
  height: auto;
  animation: plantita-viva 5s ease-in-out infinite;
  transform-origin: center bottom;
  margin-right: -50px; 
  z-index: 9999;
}


/* Botón WhatsApp */
.logo-wp {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

