
@use '../components/variables' as v;



/* ===== FOOTER ===== */

footer {
    
    color: v.$color-blanco;
    padding: 60px 20px;
    margin-top: 10px;
    text-align: center;
}

.footer-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px;
}

.footer-links,
.footer-redes {
    list-style: none;
    padding: 0;
}

.footer-links li,
.footer-redes li {
    margin-bottom: 10px;
}

.footer-links a,
.footer-redes a {
    color: v.$color-blanco;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover,
.footer-redes a:hover {
    color: v.$color-rojo;
}

.footer-redes img {
    width: 20px;
    margin-right: 8px;
    vertical-align: middle;
}


/* ===== RESPONSIVE ===== */

@media (max-width: 768px) {

    .carousel img {
        height: 300px;
    }

    .taquito-wp {
        width: 85px;
    }
}




