@use '../components/variables' as v;

/* ===== HEADER ===== */

header {
    
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imagenlogo img {
    width: 350px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.titulo h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

  