.carousel {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
}

/* No forzamos proporción aquí */
.carousel-item {
    height: auto;
}

/* La imagen manda */
.carousel-item img {
    width: 100%;
    height: auto;   /* 🔥 clave para NO estirar */
    display: block;
}

